@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --bg: #ffffff;
  --font: #000000;
  --primary: #48acf0;
  --secondary: #594236;
  --tertiary: #cd1c10;
  --highlight--1: #93a3bc;
  
  --font--fam: 'Poppins', sans-serif;
}
/* --bg: #ccdde2; */
h1 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin: 3vh;
  color: var(--tertiary);
}
h2 {
  position: relative;
  color: var(--font);
  font-family: 'Arvo', serif;
  margin: 1vh;
}
h4 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  opacity: 0.8;
  font-size: 14px;
  margin: 0.5vh;
  color: var(--font);
}
p {
  position: relative;
  color: var(--font);
  font-size: 24px;
}
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.FL--App--Cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  overflow:hidden;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}
.gradient-cont{
  width: 100%;
  /* background: rgb(193, 99, 99); */
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.508) 50%, rgb(255, 255, 255) 100%);
  position: fixed;
  top: 0;

  z-index: 900;
}
.FL--Logo--Cont{
  position: absolute;
  top: 0%;
  left: 0%;
  width: fit-content;
  /* background-color: tan; */
  z-index: 900;
  display: flex;
  align-items: center;
  margin-left: 25px;
}
.FL--Menu--Cont {

}
.FL--Search--Cont {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;

  z-index: 899;
  /* background-color: #2163ce72; */
  display: flex;
  align-items: center;
  justify-content: center;

}
  
.mar--lr{
  margin-left: 25px;
  margin-right: 25px;
}
.mar--l{
  margin-left: 25px;
}
.mar--r{
  margin-right: 25px;
}
.header--height{
  height: 125px;
}

.bottom--gradient-cont{
  width: 100%;
  /* background: rgb(193, 99, 99); */
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.508) 50%, rgb(255, 255, 255) 100%);
  position: fixed;
  bottom: 0;
  height: 50px;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: end;

}
.bottom--gradient-cont h4{
  font-size: 10px;
  transform: translateY(5px);
  margin-right: 15px;
}