@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg: #ffffff;
  --font: #000000;
  --primary: #48acf0;
  --secondary: #594236;
  --tertiary: #cd1c10;
  --highlight--1: #93a3bc;

  --font--fam: 'Poppins', sans-serif;
}

/* --bg: #ccdde2; */
h1 {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin: 3vh;
  color: var(--tertiary);
}

h2 {
  position: relative;
  color: var(--font);
  font-family: 'Arvo', serif;
  margin: 1vh;
}

h4 {
  position: relative;
  font-family: 'Poppins', sans-serif;
  opacity: 0.8;
  font-size: 14px;
  margin: 0.5vh;
  color: var(--font);
}

p {
  position: relative;
  color: var(--font);
  font-size: 24px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.FL--App--Cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
}

.gradient-cont {
  width: 100%;
  /* background: rgb(193, 99, 99); */
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.508) 50%, rgb(255, 255, 255) 100%);
  position: fixed;
  top: 0;

  z-index: 900;
}

.FL--Logo--Cont {
  position: absolute;
  top: 0%;
  left: 0%;
  width: fit-content;
  /* background-color: tan; */
  z-index: 900;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.FL--Menu--Cont {}

.FL--Search--Cont {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;

  z-index: 899;
  /* background-color: #2163ce72; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.mar--lr {
  margin-left: 25px;
  margin-right: 25px;
}

.mar--l {
  margin-left: 25px;
}

.mar--r {
  margin-right: 25px;
}

.header--height {
  height: 125px;
}

.bottom--gradient-cont {
  width: 100%;
  /* background: rgb(193, 99, 99); */
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.508) 50%, rgb(255, 255, 255) 100%);
  position: fixed;
  bottom: 0;
  height: 50px;
  z-index: 900;
  display: flex;
  align-items: center;
  justify-content: end;

}

.bottom--gradient-cont h4 {
  font-size: 10px;
  transform: translateY(5px);
  margin-right: 15px;
}


.FL_Input__text__1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: (--font--fam);
}

.FL_Input__text__1 label {
  color: 000000;
  font-size: 18px;
  font-weight: 600;
}

.FL_Input__text__1 input {
  width: 683px;
  height: 47px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 500px;
  border: solid 1px #16171C;
  background-color: rgba(0, 0, 0, 0.05);
}

.FL_Input__text__1 h4 {
  color: 000000;
  font-size: 13px;
  font-weight: 600;
  transform: none;
  text-transform: none;
  margin: 0;
}

.FL_Input__text__1 textarea {
  width: 683px;
  max-width: 683px;
  max-height: 95px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  border: solid 1px #16171C;
  background-color: rgba(0, 0, 0, 0.05);
  font-family: (--font--fam);
  padding-top: 15px;
  /* padding-bottom: 15px ; */
}

.FL_Input__number__1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: (--font--fam);
}

.FL_Input__number__1 label {
  color: 000000;
  font-size: 18px;
  font-weight: 600;
}

.FL_Input__number__1 .inner--cont {
  display: flex;
  align-items: center;

}

.FL_Input__number__1 .inner--cont div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  width: 50px;
  height: 47px;
}

.FL_Input__number__1 .inner--cont div h3 {
  margin: 0;
  font-size: 32px;
  font-weight: 400;
}

.FL_Input__number__1 .inner--cont div h4 {
  margin: 0;
  font-size: 15px;
  transform: none;
}

.FL_Input__number__1 .inner--cont input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 132px;
  height: 47px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 500px;
  border: solid 1px #16171C;
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 24px;
}

.FL_Input__date__1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-family: (--font--fam);
}

.FL_Input__date__1 label {
  color: 000000;
  font-size: 18px;
  font-weight: 600;
}

.FL_Input__date__1 input {
  width: 331px;
  height: 47px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 500px;
  border: solid 1px #16171C;
  background-color: rgba(0, 0, 0, 0.05);
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: red;
  width: 46px;
  height: 46px;
  border: 0.15em solid red;
  border-radius: 6px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.form-control + .form-control {
  margin-top: 1em;
}
input[type="checkbox"]::before {
  content: "";
  width: 24px;
  height: 24px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(255, 255, 255);
  /* background-color: CanvasText; */

transform-origin: center;
clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);

}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:checked {
  background-color: red;
}
input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid black;
  outline-offset: max(2px, 0.15em);
}
input[type="checkbox"]:disabled {
  --form-control-color: grey ;

  color: grey ;
  cursor: not-allowed;
}

.FL_btn__1{
  background-color: rgb(27, 27, 27);
  border: none;
  color: white;
  min-width: 300px;
  height: 50px;
  border-radius: 50px;
  font-family: var(--font--fam);
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
  opacity: 1;
  transition: box-shadow 0.3s ease, text-shadow 0.3s ease, scale 0.3s ease, opacity 0.3 ease;
 
}
.FL_btn__1:disabled{
opacity: 0.5;
transition: opacity 0.3 ease;
}

.FL_btn__1:hover{
  transform: scale(1.01); /* Increase the scale on hover */
  box-shadow: rgba(84, 84, 84, 0.845) 0px 1px 2px;
  text-shadow: rgba(212, 210, 210, 0.533) 0px 1px 2px;
}
.active {
  transform: scale(0.5); /* Decrease the scale when active */
}
