.upload--landing--cont {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    flex-direction: column;
    gap: 20px;
}

.upload--landing--button {
    padding: 10px 40px;
    background-color: black;
    border: none;
    border-radius: 500px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.form-feedback {
    margin-top: 10px;
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}


.asset--page--content--cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    gap: 15px;
}

.asset--upload--left {
    display: flex;
    align-items: center;
    /* background-color: rebeccapurple; */
    flex-flow: column;

}

.left--label {
    color: 000000;
    font-size: 18px;
    font-weight: 600;
    width: 693px;
}

.asset--upload--right {
    display: flex;
    flex-flow: column;
    gap: 10px
}

.image--preview--cont {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 693px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #36363638;
}

.image-preview {
    max-width: 100%;
    /* max-height: 300px; */
    margin: 10px 0;
}

.upload--right--price-n-date--cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
}

.human--made--verification--cont {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.human--made--verification--cont h5 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.human--made--verification--cont p {
    color: #0000006d;
    font-size: 12px;
    /* font-weight: 600; */
    margin: 0;
}

.human--made--verification--cont a {
    color: #CD1C10;
    border-bottom: 1px #CD1C10 solid;
}

.checkbox--cont {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.human--made--description {
    font-size: 15px !important;
    color: #000000 !important;
    opacity: 1;
    width: 617px;
    height: 42px;
}

.button--width--713 {
    width: 713px;
}
.FL_Drag_Drop{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    justify-content: space-around;
    gap: 10px;
    /* background-color: yellow; */
}

.choose__file__cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 600px;
    background-color: #00000010;
    border-radius: 10px;
}

.upload--coll--btn{
    background-color: var(--tertiary);
    border: none;
    color: white;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    font-family: var(--font--fam);
    font-size: 20px;
    font-weight: 500;
    transition: box-shadow 0.3s ease, text-shadow 0.3s ease, scale 0.3s ease;
  }
  
  .upload--coll--btn:hover{
    transform: scale(1.01); /* Increase the scale on hover */
    box-shadow: rgba(99, 99, 99, 0.427) 0px 1px 2px;
    text-shadow: rgba(212, 210, 210, 0.533) 0px 1px 2px;
  }
  .response--scrollable{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 600px;
    height: 60px;
    overflow-y: scroll;
    overflow-x: hidden
  }
  .response--item{
    padding-left: 20px;
  }

.image-preview{
    display: flex;
    width: 100VW;
    background-color: grey;
    height: 250px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.uploaded--image--scrollable{
    display: flex;
    overflow-x: scroll;
    gap:5px;
    width: fit-content;
    align-items: center;
    

}
  .uploaded--image{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    min-height: 200px;
    min-width: 300px;
    position: relative;
    border: #000000 solid 2px;
    transition: 0.7ms;
    flex-basis: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .uploaded--image:hover{
    border: var(--tertiary) solid 2px;
    transition: 0.2ms;
  } 
/* target first element with class ".circle" */
:nth-child(1 of .uploaded--image) {
   margin-left: 10px;
}

/* target last element with class ".circle" */
:nth-last-child(1 of .uploaded--image) {
    margin-right: 10px;
}

  .uploaded--image img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* filter:blur(2px); */
    transform: scale(1.0);
    transition: transform ease 0.7ms;
  }

  .uploaded--image:hover img {
    /* filter:blur(0px); */
    transform: scale(1.1);
    transition: transform ease 0.2ms;
  }
.image--check--cont{
    width: 50px; height: 50px;
    position: absolute;
    right:0;
    top: 0;
    margin-top:5px;
}
  .create--coll--page{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
}
.create--coll--page h2{
    font-size: 50px;
    margin-bottom: 30px;
}
.create--coll--page h4{
    margin: 0;
    transform: none;
}
