.FL--home--cont {
  display: inline-block;

  /* align-items: center; */
  justify-content: center;
  /* flex-direction: column; */
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  height: 4000px;
}

.FL--home--showcase--3 {
  height: 90vh; /* To show a bit of a featured story */
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FL--home--showcase--4--transition{
  height: 90px;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, 
  rgba(50, 50, 50, 1) 0%, 
  rgba(50, 50, 50, 0.99) 10%,
  rgba(50, 50, 50, 0.79) 50%, 
  rgba(50, 50, 50, 0.59) 95%, 
  rgba(50, 50, 50, 0.29) 98%, 
  rgba(50, 50, 50, 0.1) 100%
  );
  color: white;
  position: relative;

}

.FL--home--showcase--4--transition span{
  /* position: absolute */
  /* width: 100%; */
  font-size: 30px;
  display: flex;
  gap: 30px;
	-webkit-animation: shake-vertical 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-vertical 10s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
.FL--home--showcase--4--transition p {
  color: white;
  font-size: 20px;
}
.FL--home--showcase--4 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* https://cssgradient.io/ */
  flex-direction: column;
  background: rgb(50, 50, 50);
  


}
.FL--home--showcase--4 h3{
width: 80%;
color: rgba(255, 255, 255, 0.516);
font-size: 30px;
margin: 0;
margin-bottom: 20px;
border-bottom: rgba(255, 255, 255, 0.37) 2px solid;
}
.iframe--cont{
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.493);

}
.iframe--cont iframe{
  border-radius: 10px;
  overflow: hidden;
  /* border: 4px solid var(--tertiary); */
  /* margin-bottom: 25px; */

}
.home--featured--coll--cont{
  /* background-color: teal; */
  width: 80%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.home--featured--coll--cont p{
  font-size: 35px;
  color: white;
  text-shadow: 0px 0px 5px rgba(126, 126, 126, 0.493);
}
.FL--home--search--cont {
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* background-color: aliceblue; */
  padding-bottom: 170px;
  margin-top: 10vh; /* to keep centered when height is changed because of the featured story */
}

.FL--home--search--cont h2 {
  color: rgb(0, 0, 0);
  font-size: 70px;
  text-align: center;
  height: 170px;
  /* background-color: aqua; */
}
.home--coll--btn{
  background-color: var(--tertiary);
  border: none;
  color: white;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  font-family: var(--font--fam);
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  transition: box-shadow 0.3s ease, text-shadow 0.3s ease, scale 0.3s ease;
}

.home--coll--btn:hover{
  transform: scale(1.01); /* Increase the scale on hover */
  box-shadow: rgba(99, 99, 99, 0.427) 0px 1px 2px;
  text-shadow: rgba(212, 210, 210, 0.533) 0px 1px 2px;
}
.FL--home--showcase--1 {
  /* background-color: teal; */
  /* width: 100%; */
  margin-top: 100px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  margin-right: 100px;
}

.FL--home-showcase--1--img {
  width: 650px;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.FL--home-showcase--1--img img {
  position: absolute;
  left: 0;
  width: 100%;
}

.FL--home-showcase--1--text {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* background-color: tan; */
  flex-direction: column;

}

.FL--home-showcase--1--text>h3 {
  text-align: right;
  font-family: var(--font--fam);
  font-weight: bold;
  font-size: 60px;
  margin: 0;
  padding: 0;
  height: 49.5px;
}

.FL--home-showcase--1--text>p {
  text-align: right;
  font-family: var(--font--fam);
  /* font-weight: bold; */
  font-size: 25px;
  margin: 0;
  padding: 0;
  height: 200px;
  width: 200px;
  margin-top: 50px;
}

.FL--home--showcase--header {
  width: 100vw;
  padding: 5px;
  font-size: 25px;
  /* background-color: tomato; */
  position: absolute;
  font-family: var(--font--fam);
  margin: 0 25px;
  top: 0;
}

.FL--home--showcase--header h3 {
  margin: 0 25px;
  text-transform: uppercase;
}

.FL--home--showcase--2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  gap: 25px;
  /* margin: 25px 0px; */
  padding-top: 70px;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-26 13:25:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-vertical
 * ----------------------------------------
 */
 @-webkit-keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
  }
  90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
  }
}
