.home--cont {
    display: inline-block;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    height: 4000px;
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .home--showcase {
    /* height: 90vh; To show a bit of a featured story */
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }