
.search--cont {
    background-color: rgba(255, 255, 255, 0.985);
    color: var(--font);
    border-radius: 500px;
    /* width: 60%; */
    width: 800px;
    height: 50px;
    margin: auto;
    border: black 1.5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
    margin: auto;
    /* padding-left: 2px; */
}

.search--input {
    border-radius: 500px;
    width: 93%;
    height: 48px;
    border: none;
    position: absolute;
    left: 0;
    padding-left: 50px;
    /* margin-left: 0.5px; */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    opacity: 0.6;
    border: black 1px solid;
}

.search--input:focus {
    /* background-color: var(--highlight--1); */
    color: var(--tertiary);
    /* border: none; */
    border: var(--tertiary) 3px solid;
    opacity: 1;
    box-shadow: 1px 2px 5px var(--tertiary);
    font-weight: bold;
    transition: box-shadow 0.7s ease-in-out, opacity 0.3s ease, font-weight 0.3s ease-in-out;
}

.search--button {
    color: white;
    width: 12%;
    
    background-color: var(--font);
    /* background-color: yellow; */
    height: 51px;
    position: absolute;
    right: 0;
    border-radius: 500px;
    border: none;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 5px; */
    /* width: 200px; */
}